# Blockchain / Contract
NEXT_PUBLIC_CONTRACT_ADDRESS=0x5FbD#######B2315678afecb367f032d93F642f64180aa3
NEXT_PUBLIC_CHAIN_RPC_URL=http://127.0.0.1:8545


# NEXT_PUBLIC_CONTRACT_ADDRESS=0xAb4d2406CA1bFD72f404d0633C3eE543cB82E937
# NEXT_PUBLIC_CHAIN_RPC_URL=https://sepolia.infura.io/v3/dedff6d9bcbc42ec894731c995dfa5e6

# IPFS – Pinata (free tier works)
PINATA_API_KEY=70f0aa15a0505######989
PINATA_SECRET_KEY=e16428bbf30dd#####e981b558228b6136220011d5cff6a673757a0d
NEXT_PUBLIC_IPFS_GATEWAY=https://gateway.pinata.cloud/ipfs

# PostgreSQL
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/blockchain?schema=public
# Pine123@--wallet id meta mask(PW)



# local
npm run node
npm run deploy:local

https://app.pinata.cloud/
https://developer.metamask.io/

wallet pw=Pine123@