# Blockchain / Contract
# After deploying to Sepolia, paste the deployed contract address here
NEXT_PUBLIC_CONTRACT_ADDRESS=0xYOUR_DEPLOYED_CONTRACT_ADDRESS
# Use your Infura Sepolia RPC URL for the frontend too
NEXT_PUBLIC_CHAIN_RPC_URL=https://sepolia.infura.io/v3/YOUR_INFURA_KEY

# IPFS – Pinata (free tier works)
PINATA_API_KEY=your_pinata_api_key
PINATA_SECRET_KEY=your_pinata_secret_key
NEXT_PUBLIC_IPFS_GATEWAY=https://gateway.pinata.cloud/ipfs

# PostgreSQL
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/certverify?schema=public



# local
npm run node
npm run deploy:local

https://app.pinata.cloud/
https://developer.metamask.io/

wallet pw=Pine123@